<Menu Mode="MenuMode.Inline" Style="background-color: rgb(255, 255, 255);">
    <AuthorizeView >
        <MenuItem RouterLink="/location">
            <Icon Type="control" Theme="outline"></Icon>
            控制台
        </MenuItem>
    </AuthorizeView>

  
</Menu>

@code {
    readonly RenderFragment _settingTilte =
    @<span>
        <Icon Type="setting" Theme="outline" />
        系统设置
    </span>;
}