.rw-body[b-3hp0cg34u0] {
    padding: 20px;
    height: 100%;
    overflow-y: overlay;
    background-color: rgb(255, 255, 255);
}

.rw-log .fixed-widgets[b-3hp0cg34u0] {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 999;
    display: flex;
    cursor: pointer;
}

    .rw-log .fixed-widgets[b-3hp0cg34u0]  .fixed-widgets-button {
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }

.rw-log[b-3hp0cg34u0]  .ant-drawer-content-wrapper {
    width: 50% !important;
}

.rw-log .rw-log-content[b-3hp0cg34u0] {
    overflow-y: auto;
}

    .rw-log .rw-log-content span[b-3hp0cg34u0] {
        margin-right: 5px;
    }

.rw-log .rw-log-time[b-3hp0cg34u0] {
}

.rw-log .rw-log-source[b-3hp0cg34u0] {
}

.rw-log .rw-log-msg[b-3hp0cg34u0] {
}

.rw-log .rw-log-level-verbose[b-3hp0cg34u0],
.rw-log .rw-log-level-debug[b-3hp0cg34u0],
.rw-log .rw-log-level-information[b-3hp0cg34u0] {
    color: #000;
}

.rw-log .rw-log-level-warning[b-3hp0cg34u0] {
    color: #fa8c16;
}

.rw-log .rw-log-level-error[b-3hp0cg34u0],
.rw-log .rw-log-level-fatal[b-3hp0cg34u0] {
    color: #f5222d;
}
