.rw-status[b-l25papzoe1] {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
}

.rw-status-processing[b-l25papzoe1] {
    position: relative;
}

    .rw-status-processing[b-l25papzoe1]::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: inherit;
        content: "";
        animation: pulse-b-l25papzoe1 1.2s ease-in-out infinite;
    }


@keyframes pulse-b-l25papzoe1 {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    30% {
        opacity: 0.7;
    }

    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}