.rw-content[b-mh3pnnifd0]  .equipment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .rw-content[b-mh3pnnifd0]  .equipment-item .equipment-status {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .rw-content[b-mh3pnnifd0]  .equipment-item .equipment-status > div:not(:last-child) {
            margin-right: 5px;
        }

.rw-content[b-mh3pnnifd0]  .ant-card-grid {
    padding: 12px;
}
